<div class="row">
  <div class="col-3">
    Wyszukaj:
    <input [(ngModel)]="params" class="form-control mr-sm-2" id="search-box" />
  </div>
</div>
<br />
<div
  class="alert alert-danger col-5"
  role="alert"
  *ngIf="params && animals.length === 0"
>
  <div>
    Nie znaleziono zwierząt o imieniu zaczynającym się od <b>"{{ params }}"</b>
  </div>
</div>
<br />
<table
  class="table table-striped table-light"
  *ngIf="animals && animals.length > 0"
>
  <thead class="thead-dark">
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Zdjęcie zwierzaka</th>
      <th class="text-center">Imię</th>
      <th class="text-center">Rasa</th>
      <th class="text-center">Klasyfikacja</th>
      <th class="text-center">Akcja</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let animal of animals; let id = index"
      (mouseover)="highlightRow(animal)"
      [ngClass]="{ highlight: animal.id == selectedName }"
    >
      <td class="align-middle text-center">{{ id + 1 }}</td>
      <td class="align-middle text-center item.selected">
        <app-animal-photo
          (selectedAnimal)="animalWasSelected($event)"
          [animal]="animal"
          [imageUrl]="animal.photoUrl"
        ></app-animal-photo>
      </td>
      <td class="align-middle text-center">
        {{ animal.name }}
      </td>
      <td class="align-middle text-center">
        {{ animal.category }}
      </td>
      <td class="align-middle text-center">
        {{ animal.classification }}
      </td>
      <td class="align-middle text-center">
        <div>
          <button
            class="btn btn-outline-secondary"
            routerLink="/animals/{{ animal.id }}"
          >
            Szczegóły
          </button>
        </div>
        <br />
        <div>
          <button class="btn btn-outline-danger" (click)="deleteAnimal(animal)">
            Usuń
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<div class="row text-center">
  <div class="col-3">
    Klasyfikacja:
    <br />
    <select [(ngModel)]="selectedType">
      <option *ngFor="let type of animalTypes">
        {{ type }}
      </option>
    </select>
  </div>
  <div class="col-3">
    Imię:
    <input
      class="form-control"
      [(ngModel)]="newAnimalName"
      placeholder="Wpisz imię..."
    />
  </div>
  <div class="col-3">
    Rasa
    <input
      class="form-control"
      [(ngModel)]="newAnimalcategory"
      placeholder="Wpisz rasę..."
    />
  </div>
  <div class="col-3">
    <button
      class="btn btn-outline-success"
      (click)="addAnimal()"
      [disabled]="!cantAdd()"
    >
      Dodaj zwierzaka
    </button>
  </div>
</div>
