.router-background {
  background-color: rgb(235, 235, 235);
}
.current-route-background {
  background-color: rgb(200, 200, 200);
}

#myFooter{
  padding-top:32px;
}

#myFooter .container{
  text-align: center;
}

#myFooter .footer-copyright{
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}
