<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a routerLink="/" class="navbar-brand">
    <img src="assets/images/logo.png" height="100" alt="Zooland" />
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a routerLink="/" class="nav-item nav-link">Strona Główna</a>
      <a routerLink="/animals" class="nav-item nav-link">Zwierzęta</a>
    </div>
  </div>
</nav>

<div class="current-route-background">
  Obecna ścieżka: <b>{{ route }}</b>
</div>

<div class="container router-background">
  <div style="margin:0px auto; text-align:center;" [hidden]="route !== '/'">
    <img src="/assets/images/logo.png" alt="Logo" class="center" />
  </div>
  <router-outlet></router-outlet>
</div>
<footer id="myFooter">
  <div class="container">
    <p class="footer-copyright">© 2019 Copyright Zooland</p>
  </div>
</footer>
