<br />
<div *ngIf="animal">
  <div class="card mt-4">
    <img
      class="card-img-top rounded img-fluid"
      src="{{ animal.photoUrl }}"
      alt="XXXXXXXXXXXX"
    />
    <small class="text-muted"
      >Wiem, zdjęcie jest delikatnie za duże, ale tak musi być póki co :)</small
    >
    <div class="card-body">
      <h3 class="text-center">{{ animal.name }}</h3>
      <p class="card-text">
        Rasa: <b>{{ animal.category }}</b>
      </p>
      <p class="card-text">
        Klasyfikacja: <b>{{ animal.classification }}</b>
      </p>
    </div>
  </div>
  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Edycja
    </div>
    <div class="card-body">
      <p>
        Adres URL do zdjęcie:
        <input
          class="form-control"
          [(ngModel)]="animalImage"
          placeholder="Adres URL zdjęcia"
        />
      </p>
      <div class="alert alert-danger col-4" role="alert" *ngIf="isImageEmpty()">
        <div>Podaj <b>adres URL</b> do zdjęcia</div>
      </div>
      <p>
        Imię zwierzaka:
        <input
          class="form-control"
          [(ngModel)]="animalName"
          placeholder="Imię zwierzaka"
        />
      </p>
      <div class="alert alert-danger col-4" role="alert" *ngIf="isNameEmpty()">
        <div>Podaj <b>imię</b> zwierzaka</div>
      </div>
      <hr />
      <button
        [disabled]="isImageEmpty() || isNameEmpty()"
        class="btn btn-outline-success"
        (click)="updateAnimal()"
      >
        Aktualizuj dane
      </button>
    </div>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!animal">
  <div class="text-center">Nie ma takiego zwierzaka!</div>
</div>
<button class="btn btn-secondary btn-block" (click)="navigateToAnimals()">
  Powrót do listy
</button>
<br />
